@import url("https://fonts.googleapis.com/css?family=Source%20Sans%20Pro");
div.el-col-md-16 {
  width: 50%;
}
div.el-col-md-8 {
  width: 50%;
}
yt-live-chat-renderer {
  background-color: transparent !important;
}
yt-live-chat-ticker-renderer {
  background-color: transparent !important;
  box-shadow: none !important;
}
yt-live-chat-author-chip #author-name {
  background-color: transparent !important;
}
yt-live-chat-item-list-renderer #item-scroller {
  overflow: hidden !important;
}
yt-live-chat-header-renderer,
yt-live-chat-message-input-renderer {
  display: none !important;
}
yt-live-chat-text-message-renderer[is-deleted],
yt-live-chat-membership-item-renderer[is-deleted] {
  display: none !important;
}
yt-live-chat-mode-change-message-renderer,
yt-live-chat-viewer-engagement-message-renderer,
yt-live-chat-restricted-participation-renderer {
  display: none !important;
}
yt-live-chat-text-message-renderer a,
yt-live-chat-membership-item-renderer a {
  text-decoration: none !important;
}
#item-scroller {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
yt-live-chat-text-message-renderer {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
yt-live-chat-renderer * {
  font-family: " Source Sans Pro", "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "\5FAE \8F6F \96C5 \9ED1 ", SimHei,
    Arial, sans-serif;
  font-size: 28px !important;
  line-height: 30px !important;
}
yt-live-chat-text-message-renderer #author-photo,
yt-live-chat-text-message-renderer #author-photo img,
yt-live-chat-paid-message-renderer #author-photo,
yt-live-chat-paid-message-renderer #author-photo img,
yt-live-chat-membership-item-renderer #author-photo,
yt-live-chat-membership-item-renderer #author-photo img {
  width: 77px !important;
  height: 77px !important;
  border-radius: 77px !important;
  margin-right: 19.25px !important;
}
yt-live-chat-text-message-renderer #author-name {
  color: #ffffff !important;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "\5FAE \8F6F \96C5 \9ED1 ", SimHei,
    Arial, sans-serif;
  font-size: 22px !important;
  line-height: 22px !important;
}
yt-live-chat-text-message-renderer #chat-badges {
  display: none !important;
  vertical-align: text-top !important;
}
img.yt-live-chat-author-badge-renderer,
yt-icon.yt-live-chat-author-badge-renderer {
  width: 20px;
  height: 20px;
}
yt-live-chat-author-medal-renderer {
  display: none;
}
yt-live-chat-text-message-renderer #message,
yt-live-chat-text-message-renderer #message * {
  color: #ffffff !important;
  font-family: " Source Sans Pro", "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "\5FAE \8F6F \96C5 \9ED1 ", SimHei,
    Arial, sans-serif;
  font-size: 28px !important;
  line-height: 30px !important;
}
yt-live-chat-text-message-renderer #image-and-message {
  display: block !important;
}
yt-live-chat-text-message-renderer #message {
  display: inline !important;
  overflow: visible !important;
}
yt-live-chat-text-message-renderer #image-and-message .emoji {
  width: auto !important;
  height: 24px !important;
}
#image-and-message img[display="block"] {
  border-radius: 4px;
}
#image-and-message img[display="inline"] {
  position: relative;
  top: 3px;
  border-radius: 0px;
}
body {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}
yt-live-chat-text-message-renderer,
yt-live-chat-text-message-renderer[is-highlighted] {
  background-color: rgba(204, 204, 204, 0) !important;
}
yt-live-chat-text-message-renderer[author-type="owner"],
yt-live-chat-text-message-renderer[author-type="owner"][is-highlighted] {
  background-color: rgba(255, 214, 0, 0) !important;
}
yt-live-chat-text-message-renderer[author-type="moderator"],
yt-live-chat-text-message-renderer[author-type="moderator"][is-highlighted] {
  background-color: rgba(94, 132, 241, 0) !important;
}
yt-live-chat-text-message-renderer[author-type="member"],
yt-live-chat-text-message-renderer[author-type="member"][is-highlighted] {
  background-color: rgba(15, 157, 88, 0) !important;
}
yt-live-chat-paid-message-renderer {
  margin: 4px 0 !important;
}
yt-live-chat-membership-item-renderer #header-content-inner-column,
yt-live-chat-membership-item-renderer #header-content-inner-column *,
yt-live-chat-paid-message-renderer #purchase-amount,
yt-live-chat-paid-message-renderer #purchase-amount *,
yt-live-chat-paid-message-renderer #author-name,
yt-live-chat-paid-message-renderer #author-name *,
yt-live-chat-paid-message-renderer #content,
yt-live-chat-paid-message-renderer #content * {
  color: #fff !important;
}
yt-live-chat-membership-item-renderer #card,
yt-live-chat-membership-item-renderer #header {
  background-color: transparent !important;
  margin: 0px !important;
}
yt-live-chat-ticker-renderer {
  display: none !important;
}
yt-live-chat-ticker-paid-message-item-renderer,
yt-live-chat-ticker-paid-message-item-renderer *,
yt-live-chat-ticker-sponsor-item-renderer,
yt-live-chat-ticker-sponsor-item-renderer * {
  color: #ffffff !important;
  font-family: " Source Sans Pro", "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "\5FAE \8F6F \96C5 \9ED1 ", SimHei,
    Arial, sans-serif;
}
yt-live-chat-text-message-renderer {
  overflow: visible;
  padding: 20px 8px 8px 10px !important;
}
yt-live-chat-text-message-renderer #author-photo {
  position: relative;
  top: -12px;
  margin-right: 8px !important;
  z-index: 2;
}
yt-live-chat-text-message-renderer #content {
  text-align: center;
  position: relative;
  padding: 0px 6px 0px 0px;
}
yt-live-chat-text-message-renderer yt-live-chat-author-chip {
  width: calc(100% - 180px);
  padding: 11px 90px 11px 90px;
  justify-content: center;
  background-color: #b3b3b3 !important;
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/nol_ticker.png"),
    url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/name_back.png");
  background-size: 75px 20px, 112px 53px;
  background-repeat: no-repeat, no-repeat;
  background-position: 10px 50%, right bottom;
  position: relative;
  z-index: -2;
}
yt-live-chat-text-message-renderer[author-type="member"]
  yt-live-chat-author-chip::before {
  content: "";
  width: 56px;
  height: 60px;
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/level3_medal.png");
  background-size: 50px 54px;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  position: absolute;
  top: calc(50% - 27px);
  right: -18px;
  z-index: 2;
}
yt-live-chat-text-message-renderer[privilegetype="2"]
  yt-live-chat-author-chip::before {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/level2_medal.png");
}
yt-live-chat-text-message-renderer[privilegetype="1"]
  yt-live-chat-author-chip::before {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/level1_medal.png");
}
yt-live-chat-text-message-renderer yt-live-chat-author-chip::after {
  content: "";
  width: calc(100% + 14px);
  height: calc(100% + 8px);
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/nol_name1.png"),
    url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/nol_name2.png");
  background-size: 167px 47px, 49px 43px;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  position: absolute;
  top: -6px;
  left: -7px;
  z-index: 1;
}
yt-live-chat-text-message-renderer #author-photo::before {
  content: "";
  width: 41px;
  height: 48px;
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/nol_photo1.png");
  background-size: 41px 48px;
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  right: -14px;
  bottom: -10px;
  z-index: 2;
}
yt-live-chat-text-message-renderer #author-photo::after {
  content: "";
  width: 89px;
  height: 123px;
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/nol_photo.png");
  background-size: 89px 123px;
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  top: -6px;
  left: -6px;
  z-index: 1;
}
yt-live-chat-text-message-renderer #image-and-message {
  position: relative !important;
  padding: 30px 10px 14px 10px;
  margin-bottom: 20px;
}
yt-live-chat-text-message-renderer #image-and-message::after {
  content: "";
  width: calc(100% - 90px);
  height: calc(100% - 74px);
  border: solid;
  border-image-source: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/nol_box.png");
  border-image-slice: 50 13 41 89 fill;
  border-width: 50px 13px 41px 89px;
  position: absolute;
  top: 2px;
  left: -6px;
  z-index: -1;
}
yt-live-chat-text-message-renderer[author-type="member"]
  yt-live-chat-author-chip {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/special_ticker.png"),
    url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/name_back.png");
  background-size: 72px 20px, 112px 53px;
}
yt-live-chat-text-message-renderer[privilegetype="3"] yt-live-chat-author-chip {
  background-color: #13b099 !important;
}
yt-live-chat-text-message-renderer[privilegetype="3"] #author-photo::before {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/level3_photo1.png");
}
yt-live-chat-text-message-renderer[privilegetype="3"] #author-photo::after {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/level3_photo.png");
}
yt-live-chat-text-message-renderer[privilegetype="2"] yt-live-chat-author-chip {
  background-color: #593ac0 !important;
}
yt-live-chat-text-message-renderer[privilegetype="2"] #author-photo::before {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/level2_photo1.png");
}
yt-live-chat-text-message-renderer[privilegetype="2"] #author-photo::after {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/level2_photo.png");
}
yt-live-chat-text-message-renderer[privilegetype="1"] yt-live-chat-author-chip {
  background-color: #de3c80 !important;
}
yt-live-chat-text-message-renderer[privilegetype="1"] #author-photo::before {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/level1_photo1.png");
}
yt-live-chat-text-message-renderer[privilegetype="1"] #author-photo::after {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/level1_photo.png");
}
yt-live-chat-membership-item-renderer {
  padding: 0px 10px 20px 10px !important;
}
yt-live-chat-membership-item-renderer #header-content {
  flex-direction: row-reverse !important;
  padding: 0px;
}
yt-live-chat-membership-item-renderer #card {
  position: relative;
  overflow: visible !important;
  padding: 100px 20px 20px 20px;
}
yt-live-chat-membership-item-renderer #chat-badges,
yt-live-chat-membership-item-renderer #header-subtext {
  display: none;
}
yt-live-chat-membership-item-renderer #author-name {
  color: #000000 !important;
  background-color: #ffffff !important;
  padding: 25px 65px 25px 45px;
  margin-right: -16px;
  position: relative;
  top: 10px;
  left: 0px;
}
yt-live-chat-membership-item-renderer #author-name::after {
  content: "";
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship_mark.png"),
    url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship3_medal.png");
  background-size: 88px 15px, 42px 69px;
  background-repeat: no-repeat, no-repeat;
  background-position: left + 4px bottom + 4px, right + 12px center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
yt-live-chat-membership-item-renderer[privilegetype="2"] #author-name::after {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship_mark.png"),
    url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship2_medal.png");
}
yt-live-chat-membership-item-renderer[privilegetype="1"] #author-name::after {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship_mark.png"),
    url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship1_medal.png");
}
yt-live-chat-membership-item-renderer #author-photo {
  margin-left: 14px;
  margin-right: 20px !important;
  border: 2px solid #ffffff;
  background-color: #ffffff !important;
}
yt-live-chat-membership-item-renderer #card::before {
  content: "";
  width: calc(100% - 0px);
  height: 90px;
  border: 5px solid #ffffff;
  border-radius: 50px;
  background-color: #2d2d2d;
  position: absolute;
  top: 6px;
  left: -6px;
  z-index: 0;
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/138.png"), url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/198.png"),
    url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship_ticker.png"), url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship3_wave1.png"),
    url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship3_wave2.png");
  background-size: 69px 42px, 69px 42px, 141px 18px, 1771px 128px, 1835px 160px;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat-x, repeat-x;
  background-position: left + 22px bottom + 10px, right + 26px bottom + 10px,
    center center, 0px 40px, 0px 10px;
}
yt-live-chat-membership-item-renderer[privilegetype="2"] #card::before {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/1998.png"), url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/1588.png"),
    url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship_ticker.png"), url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship2_wave1.png"),
    url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship2_wave2.png");
  background-size: 87px 42px, 86px 42px, 141px 18px, 1771px 128px, 1835px 160px;
}
yt-live-chat-membership-item-renderer[privilegetype="1"] #card::before {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/19998.png"),
    url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/15998.png"), url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship_ticker.png"),
    url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship1_wave1.png"), url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship1_wave2.png");
  background-size: 105px 42px, 103px 42px, 141px 18px, 1771px 128px,
    1835px 160px;
}
yt-live-chat-membership-item-renderer #card::after {
  content: "";
  width: calc(100% - 400px);
  height: calc(100% - 160px);
  border: solid;
  border-image-source: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship_box.png");
  border-image-slice: 0 202 71 153 fill;
  border-width: 0px 202px 71px 153px;
  position: absolute;
  bottom: -10px;
  left: 18px;
  z-index: -1;
}
yt-live-chat-membership-item-renderer #header::before {
  content: "";
  width: 74px;
  height: 42px;
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship3_ticker.png");
  background-size: 74px 42px;
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  left: -20px;
  top: -106px;
  z-index: 3;
}
yt-live-chat-membership-item-renderer #header::after {
  content: "舰长";
  color: #000;
  padding: 4px 0px 0px 50px;
  width: 143px;
  height: 42px;
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship_price.png");
  background-size: 143px 42px;
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  left: -6px;
  bottom: -24px;
  z-index: 2;
}
yt-live-chat-membership-item-renderer[privilegetype="2"] #header::before {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship2_ticker.png");
}
yt-live-chat-membership-item-renderer[privilegetype="2"] #header::after {
  content: "提督";
}
yt-live-chat-membership-item-renderer[privilegetype="1"] #header::before {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/ship1_ticker.png");
}
yt-live-chat-membership-item-renderer[privilegetype="1"] #header::after {
  content: "总督";
}
yt-live-chat-paid-message-renderer {
  padding: 10px 24px 0px 24px;
}
yt-live-chat-paid-message-renderer #card {
  position: ralative !important;
  padding-left: 72px;
  box-shadow: none !important;
  margin-bottom: 32px;
}
yt-live-chat-paid-message-renderer #author-photo {
  position: absolute !important;
  left: -84px;
  top: 0px;
  overflow: visible !important;
}
yt-live-chat-paid-message-renderer #author-photo::before {
  content: "";
  width: 41px;
  height: 48px;
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/gift_photo1.png");
  background-size: 41px 48px;
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  right: -14px;
  bottom: -10px;
  z-index: 2;
}
yt-live-chat-paid-message-renderer #author-photo::after {
  content: "";
  width: 89px;
  height: 123px;
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/gift_photo2.png"),
    url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/gift_photo.png");
  background-size: 25px 25px, 89px 123px;
  background-repeat: no-repeat, no-repeat;
  background-position: 4px 56px, left top;
  position: absolute;
  top: -6px;
  left: -6px;
  z-index: 1;
}
yt-live-chat-paid-message-renderer #header {
  background-color: #ffcc00 !important;
  border-radius: 0px !important;
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/name_back.png");
  background-size: 112px 53px;
  background-repeat: no-repeat;
  background-position: right bottom;
  text-align: center;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
yt-live-chat-paid-message-renderer:not([giftname="superchat"]) #content {
  text-align: center;
  background-color: #2d2d2d !important;
  margin-top: -1px;
  z-index: -2;
  font-weight: 200 !important;
  padding: 12px 10px 12px 140px;
  position: relative;
}
yt-live-chat-paid-message-renderer #content::after {
  content: "";
  width: 258px;
  height: 34px;
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/gift_border.png");
  background-size: 258px 34px;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  position: absolute;
  bottom: -33px;
  left: calc(50% - 129px);
  z-index: 1;
}
yt-live-chat-paid-message-renderer #header::before {
  content: "";
  width: calc(100% + 14px);
  height: calc(100% + 8px);
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/gift_name1.png"),
    url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/gift_name2.png");
  background-size: 153px 48px, 71px 44px;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  position: absolute;
  top: -6px;
  left: -8px;
  z-index: 1;
}
yt-live-chat-paid-message-renderer #header::after {
  content: "";
  width: 60px;
  height: 64px;
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/gift_ticker.png");
  background-size: 60px 64px;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  position: absolute;
  top: calc(50% - 33px);
  right: -20px;
  z-index: 1;
}
yt-live-chat-paid-message-renderer:not([giftname="superchat"])
  #purchase-amount {
  font-size: 14px !important;
  line-height: 14px !important;
  position: absolute;
  left: -10px;
  bottom: -18px;
  padding: 13px 10px 13px 10px;
  border: solid;
  border-image-source: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/gift_price.png");
  border-image-slice: 1 31 1 25 fill;
  border-width: 1px 31px 1px 25px;
  transform: rotate(15deg);
  z-index: -1;
}
yt-live-chat-paid-message-renderer[giftname="superchat"] #purchase-amount {
  font-size: 14px !important;
  line-height: 14px !important;
  position: absolute;
  right: -20px;
  bottom: -18px;
  padding: 16px 48px 12px 35px;
  transform: rotate(15deg);
  z-index: -1;
  background-color: #000;
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/sc_price1.png"),
    url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/sc_price2.png");
  background-size: 20px 4px, 32px 32px;
  background-repeat: no-repeat, no-repeat;
  background-position: left + 4px bottom + 4px, right + 4px bottom + 4px;
}
yt-live-chat-paid-message-renderer[giftname="superchat"] #content {
  text-align: center;
  background-color: #ffcc00 !important;
  margin-top: 4px;
  z-index: -2;
  padding: 16px 10px 8px 10px;
  position: relative;
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/sc_back.png");
  background-size: 15px 10px;
  background-repeat: repeat-x;
  background-position: left top;
}
yt-live-chat-paid-message-renderer[giftname="superchat"] #content::after {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/sc_border.png");
}
yt-live-chat-paid-message-renderer[giftname="superchat"] #header::after {
  background-image: url("https://gcore.jsdelivr.net/gh/yokinanya/blivechat_splatoon@master/images/sc_ticker.png");
}
yt-live-chat-paid-message-renderer[price-level="0"] {
  display: none;
}
@keyframes anim-step1 {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
  }
}
@keyframes anim-step2 {
  0% {
    opacity: 0;
    transform: translateX(-40%);
  }
  100% {
  }
}
@keyframes anim-step3 {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
yt-live-chat-paid-message-renderer,
yt-live-chat-text-message-renderer {
  animation: anim-step1 500ms;
  animation-delay: 0ms;
  animation-fill-mode: both;
}
yt-live-chat-text-message-renderer #content {
  animation: anim-step2 500ms;
  animation-delay: 200ms;
  animation-fill-mode: both;
}
yt-live-chat-paid-message-renderer #content,
yt-live-chat-text-message-renderer #image-and-message {
  animation: anim-step3 400ms;
  animation-delay: 500ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.35, 0.7, 0.68, 1.47);
}
@keyframes chat-medal {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
yt-live-chat-paid-message-renderer #header::after {
  animation: chat-medal 300ms;
  animation-delay: 600ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.35, 0.7, 0.68, 1.47);
}
yt-live-chat-text-message-renderer[author-type="member"]
  yt-live-chat-author-chip::before {
  animation: chat-medal 300ms;
  animation-delay: 700ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.35, 0.7, 0.68, 1.47);
}
@keyframes ship-appear1 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes wave-move {
  0% {
    background-position: left + 22px bottom + 10px, right + 26px bottom + 10px,
      center center, 0px 40px, 0px 10px;
  }
  25% {
    background-position: left + 22px bottom + 10px, right + 26px bottom + 10px,
      center center, 442.75px 50px, 917.5px 5px;
  }
  50% {
    background-position: left + 22px bottom + 10px, right + 26px bottom + 10px,
      center center, 885.5px 40px, 1835px -5px;
  }
  75% {
    background-position: left + 22px bottom + 10px, right + 26px bottom + 10px,
      center center, 1328.25px 30px, 2752.5px 5px;
  }
  100% {
    background-position: left + 22px bottom + 10px, right + 26px bottom + 10px,
      center center, 1771px 40px, 3670px 10px;
  }
}
yt-live-chat-membership-item-renderer #card::before {
  animation-name: ship-appear1, wave-move;
  animation-duration: 300ms, 16s;
  animation-delay: 0ms, 300ms;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: both, both;
  animation-timing-function: cubic-bezier(0.35, 0.7, 0.81, 1.21), linear;
}
@keyframes ship-appear2 {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
yt-live-chat-membership-item-renderer #header,
yt-live-chat-membership-item-renderer #card::after {
  animation: ship-appear2 300ms;
  animation-delay: 400ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.35, 0.7, 0.68, 1.47);
}
yt-live-chat-membership-item-renderer #header::before {
  animation: ship-appear1 300ms;
  animation-delay: 400ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.35, 0.7, 0.68, 1.47);
}
@keyframes ship-name {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
yt-live-chat-membership-item-renderer #author-name {
  animation: ship-name 300ms;
  animation-delay: 600ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.35, 0.7, 0.68, 1.47);
}
@keyframes ship-level {
  0% {
    opacity: 0;
    transform: translate(10px, 5px);
  }
  100% {
    opacity: 1;
  }
}
yt-live-chat-membership-item-renderer #header::after {
  animation: ship-level 200ms;
  animation-delay: 700ms;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
@keyframes purchase-amount {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(15deg);
  }
}
yt-live-chat-paid-message-renderer #purchase-amount {
  transform-origin: left top;
  animation: ship-level 300ms;
  animation-delay: 700ms;
  animation-fill-mode: both;
}
